@import url("https://fonts.googleapis.com/css2?family=Actor&family=Lily+Script+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
  text-align: center;
}

header {
  width: 100%;
  height: 197px;
  background-color: #1e1e1e;
  text-align: center;
}

ul li {
  display: inline-block;
  text-align: center;
  padding: 79px;
  font-family: "Lily Script One";
  font-size: 32px;
}

.banner-disney {
  width: 100%;
}

.banner-disney img {
  width: 100%;
  height: 100%;
}

.filmes {
  display: inline-block;
  text-align: center;
}

.filmes figure {
    width: 100%;
  margin: 20px 138px;
}

.filmes img {
  width: 363px;
  height: 523px;
  margin: 53px;
}

footer {
  height: 197px;
  width: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.text-footer {
  font-family: "Actor";
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  margin-top: 60px;
}

.icones-footer {
  display: inline-block;
  text-align: center;
  margin-top: 60px;
}

.icones-footer img {
  width: 78px;
  height: 78px;
  margin: 16px;
  vertical-align: middle;
}
